<%- include("./partials/header.ejs") %>
<%- include("./partials/navbar.ejs") %>
<div class="container">
    <div class="card">
        <h5 class="card-header">Consulta: <%= appo.description %></h5>
        <div class="card-body">
            <h5 class="card-title">Paciente: <%= appo.name %></h5>
            <p class="card-text">
                <strong><%= appo.date.getDate() + 1 %>/<%= appo.date.getMonth() + 1 %>/<%= appo.date.getFullYear() %> - <%= appo.time %></strong><br>
                Email: <%= appo.email %><br>
                CPF: <%= appo.cpf %>
            </p>
            <% if(!appo.finished){ %>
                <form action="/finish" method="post">
                    <input type="hidden" name="id" value="<%= appo._id %>">
                    <button class="btn btn-dark">Finalizar Consulta</button>
                </form>
            <% } %>
        </div>
    </div>
</div>
<%- include("./partials/footer.ejs") %>

